--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

gymnasium[all]>=1.0.0
AutoROM[accept-rom-license]
stable-baselines3[extra]
numpy
torch
torchvision
torchrl
wandb
matplotlib
pandas
jupyter
jupyter-ai
langchain-ollama
langchain-openai
pytest
tqdm
torchinfo
opencv-python
moviepy
tensorboard
mypy
ipynbname
