--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

pufferlib[common]
numpy
torch
torchvision
torchrl
AutoROM[accept-rom-license]
stable-baselines3[extra]
wandb
matplotlib
pandas
jupyter
pytest
tqdm
torchinfo
opencv-python
moviepy
tensorboard
mypy
